.quick-link {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center center;
    background-color: red($color: #000000);

    a {
        color: rgb(34, 21, 21);

        &:hover {
            color: black;
        }

        &.active {
            color: black;
            font-weight: 500;
        }
    }
}