.page-header {
    background-image: url("/public/img/Restaurants2.jpg");
    height: 300px;
    position: relative;
    background-size: cover;
    /* Resmi kaplama modunda kullanabilirsiniz */
    background-position: center bottom;
    /* Alt kısmı hedefle */
    z-index: 0;

    // tozlu filigran
    &:after {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0.4;
        z-index: 10;
        background-color: rgb(13, 139, 61);

    }

    h1 {
        position: relative;
        z-index: 11;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        justify-content: center;
        text-align: center;
        padding-top: 100px;
        color: rgba(255, 255, 255, 0.856);

    }
}