@use "../../../styles/variables" as v;
@use "../../../styles/mixins.scss" as m;


.try {
    min-height: 33vh;
}


.category-button {
    width: 100%;
    background-color: v.$color2 !important; // Sarı arkaplan
    border: none !important;
    border-radius: 1px !important;
    padding: 10px !important;
    color: v.$color1 !important;
    font-weight: 500 !important;

    &.active {
        background-color: v.$color3 !important;
    }
}


.product-title {
    position: relative;
    margin-left: 0;
}

.product-title p {
    margin: 0;
    font-weight: 500;
    color: v.$color1;
    padding-left: 16px;

    &::before {
        content: '';
        position: absolute;
        top: 57%;
        left: 0;
        width: 13px;
        height: 13px;
        border: 2px solid v.$color3;
        border-radius: 50%;
        transform: translateY(-50%);
        box-sizing: border-box;

    }
}