@use "../../../styles/variables" as v;

.custom-icon {
    background-color: v.$color1_2 !important;
    border: 1px solid v.$color1_2 !important;
    border-radius: 0 !important;
}

.lock::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: black;
    margin-left: 0.5rem;
    margin-right: -0.5rem;
}