@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins.scss" as m;

/* profile-form.scss */

.password-form {
    margin-top: 20px;



    .btn-update {
        background-color: v.$color2_2 !important;
        color: v.$color1 !important;
        font-weight: 500;
        border-radius: 2px;
        width: 100%;
        border: none;
        display: block;
        margin: 2rem auto 0;
        text-align: center;

        &:hover {
            background-color: v.$color2 !important;
        }
    }
}