@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins.scss" as m;

/* profile-form.scss */

.profile-form {
    margin-top: 20px;

    .form-control {
        border: none;
        background-color: v.$color1_2 ;
        border-radius: 2px;
        margin-top: -0.3rem;

        &:focus,
        :active {
            background-color: v.$color1_2;
        }
    }


    .btn-update {
        background-color: v.$color2_2 !important;
        color: v.$color1 !important;
        font-weight: 500;
        border-radius: 2px;
        width: 100%;
        border: none;
        display: block;
        margin: 2rem auto 0;
        text-align: center;

        &:hover {
            background-color: v.$color2 !important;
        }
    }
}