@use "../../../../styles/variables" as v;
@use "../../../../styles/mixins.scss" as m;

.tbContainer {

    padding: 0.5rem;

    @media (max-width: 576px) {
        img {
            width: 75px;
        }
    }

    @media (min-width: 576px) and (max-width: 767px) {
        img {
            width: 100px;
        }
    }

    .inputGroup {

        justify-content: center;
        display: flex;
        align-items: center;


        input {
            background-color: v.$color1_2;
            border-radius: 2px;
            border: none;
            width: 50%;
            outline: none;
            padding: 2px 5px;
            color: v.$color1;

        }

        @media (max-width: 576px) {
            input {
                width: 75%;
            }
        }


        @media (min-width: 576px) and (max-width: 767px) {
            input {
                width: 70%;
            }
        }


        .searchButton {
            border: none;
            background-color: v.$color2;
            color: v.$color1;
            border-radius: 3px;
            padding: 2px 4px;

        }



    }

    @media (max-width: 264px) {
        .inputGroup {
            display: none;
        }
    }



}