.tbContainer {

    padding: 0.5rem;

    .inputGroup {
        justify-content: center;
        display: flex;
        height: 1.5rem;
        align-items: center;



        input {
            background-color: rgb(197, 197, 197);
            border-radius: 2px;
            border: none;
            width: 50%;
            outline: none;
            padding: 2px 5px;
            color: black;
        }

        .searchButton {
            border: none;
            background-color: rgb(214, 214, 0);
            color: rgb(65, 65, 65);
            border-radius: 3px;
            padding: 2px 4px;

        }



    }

    .topBarIcons {
        gap: 1rem;
        display: flex;
        color: rgb(214, 214, 0);
        padding-right: 1rem;

    }
}